### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

build
conf
config
logs
out
target

.gradle
.idea
.vertx

.DS_Store
*.log
rebel.xml
rebel-remote.xml
.metals
*test.sh
